c_compiler_version:
  - 9

cxx_compiler_version:
  - 9

cuda_compiler:
  - nvcc

cmake_version:
  - ">=3.23.1,!=3.25.0"

gtest_version:
  - "1.10.0"

sysroot_version:
  - "2.17"

# The CTK libraries below are missing from the conda-forge::cudatoolkit
# package. The "*_host_*" version specifiers correspond to `11.8` packages and the
# "*_run_*" version specifiers correspond to `11.x` packages.

libcusparse_host_version:
  - "=11.7.5.86"

libcusparse_run_version:
  - ">=11.6.0.43,<12"
