c_compiler_version:
  - 11

cxx_compiler_version:
  - 11

cuda_compiler:
  - cuda-nvcc

cuda11_compiler:
  - nvcc

cmake_version:
  - ">=3.26.4"

gtest_version:
  - ">=1.13.0"

sysroot_version:
  - "2.17"

cuda_driver_version:
  - "12.0.146"
